<div style="margin-right: 2%; margin-bottom: 10px; text-align: center;">
    <a href="@urlMovie">
        <img src="@Movie.Poster" alt="Poster" style="width: 225px; height: 300px;" />
    </a>
    <p style="max-width: 225px; height: 44px; font-size: 15px; font-weight: bold;"><a href="@urlMovie">@Movie.TitleCortado</a></p>
    <div>
        <a class="btn btn-info">Editar</a>
        <button type="button" class="btn btn-danger" @onclick="@(() => MovieDelete.InvokeAsync(Movie))">Borrar</button>
    </div>
</div>

@code {

    [Parameter] public Movie Movie { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;
    [Parameter] public EventCallback<Movie> MovieDelete { get; set; }
    private string urlMovie = string.Empty;
    protected override void OnInitialized()
    {
        urlMovie = $"pelicula/{Movie?.Id}/{Movie?.Title?.Replace(" ", "-")}";
    }
}
